body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
#navbar{
    position:fixed;
    width: 99vw;
    text-align: end;
    background-color: black;
    height: 60px;
    padding: 10px;
    
    display: flex;
    justify-content: flex-end;
}
#navbar a{
    padding: 20px; 
    margin: auto 0;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}
#welcome-section{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(3,62,71);
    background: linear-gradient(135deg, rgba(3,62,71,1) 0%, rgba(8,91,105,1) 100%);
}
#welcome-section span{
    font-style: italic;
    background-color: black;
    white-space: pre-wrap;
}
#projects{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 99vh;
    background: rgb(0, 0, 0);
}
#projects h1{
    border-bottom: 1px white solid;
    width: 60vw;
    line-height: 80px;
}