body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
#navbar{
    text-align: end;
    background-color: red;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
#navbar a{
    padding: 20px;
    
    margin: auto 0;
}
